// Mobile

// SM
@media (max-width: 576px) {

    nav {

        .button-menu {
            display: block !important; 
        }
    
        .nav-list {
            align-items: center;
            background-color: $Black;
            border-left: 3px solid $Orange;
            flex-direction: column;
            height: calc(100vh - 72.9px);
            justify-content: space-around;
            padding: 0;
            position: absolute;
            right: 0;
            top: 72.9px;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            width: 50vw;
            
            .nav-item {
                opacity: 0;
            }
        }  

        .nav-list.active {
            transform: translateX(0);
        }
    }

}