// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

$FontMain: 'Open Sans', sans-serif;

// Colors
$Black: #0D0D0D;
$White: #FBFBFD;
$Orange: #FFB627;
$Blue: rgb(1, 1, 41);