// Abstracts
@import "../sass/abstracts/mixins.scss";
@import "../sass/abstracts/variables.scss";
@import "../sass/abstracts/keyframes.scss";

// Pages
@import "../sass/pages/TrainingPlan.scss";

// Components
@import "../sass/components/Navbar.scss";
@import "../sass/components/Scrollbar.scss";

// Breakpoints
@import "../sass/abstracts/breakpoints.scss";





// General Styles
* {
    font-family: $FontMain;
}

body {
    background-color: $White;
    overflow-x: hidden;
}