// Abstracts
@import "../sass/abstracts/mixins.scss";
@import "../sass/abstracts/variables.scss";
@import "../sass/abstracts/keyframes.scss";

// Pages
@import "../sass/pages/TrainingPlan.scss";
@import "../sass/pages/Imc.scss";

// Components
@import "../sass/components/Navbar.scss";
@import "../sass/components/Scrollbar.scss";

// Breakpoints
@import "../sass/abstracts/breakpoints.scss";





// General Styles
* {
    font-family: $FontMain;
    word-break: keep-all;
}

body {
    background-color: $White;
    margin-bottom: 200px !important;
    overflow-x: hidden;
}