.container.trainingPlan {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 68.9px;
    
    .text-tp {
        padding-top: 15%;
        width: 50%;

        h2 {
            font-weight: 800;
        }
        p {
            font-weight: 400;
            margin: 0 auto 15px auto;
        }
        input {
            @include primaryButton;
        }
    }

    .images-desktop {
        position: relative;
        width: 50%;

        .images-tp-desktop {
            border-radius: 12px;
            height: 220px;
        }

        #tp1 {
            position: absolute;
            right: 59%;
            top: 10px;
        }

        #tp2 {
            position: absolute;
            right: 25%;   
            top: 160px;
        }

        #tp3 {
            position: absolute;
            right: 25%;
            top: -120px;
        }
    }

    .images-mobile {
        display: none;
    }

}