.container-navbar {
    background-color: $Black;
    border-bottom: 3px solid $Orange;
    position: fixed;
    width: 100%;
    z-index: 999;
    
    height: 68.9px;
    
    nav {
        align-items: center;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        
        .button-menu {
            cursor: pointer;
            display: none;
            transition: 0.3s;

            &:hover {
                opacity: 0.7;
                transition: 0.3s;
            }

            div {
                width: 32px;
                height: 2px;
                background: $White;
                margin: 8px;
                transition: 0.3s;
            }
        }

        .button-menu.active {
            .line1 {
                transform: translateY(8.4px) rotate(45deg);
            }
            .line2 {
                opacity: 0;
            }
            .line3 {
                transform: translateY(-11.5px) rotate(-45deg);
            }
        } 

        .navbar-logo {
            color: $White;
            font-size: 27px;
            font-weight: 700;
            letter-spacing: 1px;
            padding-bottom: 6px;
            text-decoration: none;
        }

        .nav-list {
            display: flex;
            list-style: none;
            margin: 0;

            .nav-item {
                margin-left: 20px;

                .nav-link.active {
                    color: $White;
                    border-radius: 10px;
                    font-size: 15px;
                    font-weight: 300;
                    padding: 5px 10px;
                    transition: 0.5s;

                    
                                
                    &:hover {
                        background-color: $Orange;
                        font-weight: 300;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}
